<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motorok</title>
    <!--    Bootstrap    -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!--    Saját    -->
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/main.js"></script>
</head>
<body>
    <div class="container kontener">
        <div class="row ">
            <div class="col-sm-3">
                <h1>2 Ütem</h1>
                <p>A <b>2 ütemű</b> motrok nagyon egyszerűek. bár többet kell velük foglalkozni.</p>
                <p><a href="/motor">Tovább olvasom</a></p>
            </div>
            <div class="col-sm-3">
                <h1>4 ütem</h1>
                <p>A <b>4 ütemű</b> motor Az Otto-motor az első megvalósított négyütemű belső égésű motor, amelyet Nikolaus August Otto készített 1876-ban. Világviszonylatban ez a belső égésű motor terjedt el leginkább, és üzemanyaga, a benzin miatt hívják sokkal inkább benzinmotornak.</p>
                <p><a href="/4t">Tovább olvasom</a></p>
            </div>
          </div>
        </div>
    </div>    
</body>
</html>