<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motorok</title>
    <!--    Bootstrap    -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!--    Saját    -->
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/main.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 nagy_szoveg">
                <h1>2 Ütem</h1>
                <p>A kétütemű motor a belső égésű motorok egyik fajtája, abban különbözik a négyütemű motortól (avagy OTTO Motor), hogy mindössze két ütem (egy főtengelyfordulat) alatt hajtja végre azt a ciklust, amit a négyütemű motor két fordulat alatt. Így a kétütemű motornál minden fordulatra esik egy munkaütem, szemben a négyüteművel, ahol csak minden második fordulatra. A legtöbb kétütemű motor fontos tulajdonsága, hogy mindkét irányban megindítható és üzemben tartható.</p>
                <p><a href="/dashboard">Vissza.</a></p>
            </div>
        </div>
    </div>    
</body>
</html>